/*Хедер*/

.header a, a:hover {
	color: #f0ad4e;
	text-decoration: none;
}

.header h1 {
	letter-spacing: 15px;
	font-size: 300%;
}

.header p {
	color: white !important;
	font-size: 90%;
	letter-spacing: 3px;
}


/*Навигация*/

.nav {
	margin-bottom: 3%;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	background-color: #346270;
	color: #fff;
}

.nav-pills li a:hover {
	background-color: #346270;
	color: #fff;
}

.nav-pills li a {
	color: #fff;
}
.navbar-inverse {
	border-radius: 0;
}

/*Мобильная версия*/


@media (max-width: 762px) {
	.nav-pills>li {
		float: none;
		text-align: center;
	}

	.col-lg-12 {
		float: none;
		text-align: center;
	}

	.header h1 {
		letter-spacing: 5px;
		font-size: 260%;
	}


}

/*Мобильная версия*/

.clear {
	clear: both;
	width: 63px;
}

.wrapper {
	min-height: 100%;
}

html, body {
	height: 100%;
}


/*Основной контент*/
.films_block {
	text-align: center;
}

.films_block img {
	margin-bottom: 5%;
	border-radius: 5px;
	border:solid 5px #dad7d5;
	width: 100%;
}

.film_label {
	padding: 3%;
	margin-bottom: 4%;
}

.margin-8 {
	margin-top: 8%;
}
/*Основной контент*/

/*Левый блок*/
.panel {
	border: none;
}

.panel-body {
	background-color: #f9f9f9;
}

.panel-info>.panel-heading {
	background-color: #f0ad4e;
	color: white;
	border-color: transparent;
}

.sidebar-header {
	font-size: 120%;
	letter-spacing: 2px;
}

.form-control {
	border-radius: 0px;
}

.input-lg {
	font-size: 14px;
}

.badge {
	background-color: black;
}

.list-group-item-warning {
	color: #8a6d3d;
	background-color: #9f9f9f;
}

/*Левый блок*/

/*Футер*/

footer {
	color: #666666;
	background: #222;
	padding: 17px 0 18px 0;
	border-top: 1 px solid #000;
}

footer a:hover {
	color: white;
}

footer a {
	color: #999;
}

/*Футер*/

/*show*/

.info-block {
 font-size: 120%;
}

.info-block .badge {
	font-size: 80%;
}

.info-block span {
	margin-right: 3%;
}

span {
	font-size: 16px;
}

textarea.form-control {
	height: 200px;
	margin-bottom: 10px;
}

/*show*/

/*contacts*/
.cont {
	font-weight:700;
	margin-bottom: 3%;
}
/*contacts*/

/*raiting*/
.table tbody>tr>td {
	vertical-align:middle;
}
/*raiting*/





