body {
  font-family: sans-serif;
}
section {
  margin: 5rem 0;
}
a {
  color: #000;
}
a:hover {
  text-decoration: none;
  color: #000;
}
.container {
  padding: 0;
}
.disclaimer {
  padding: 1rem;
  text-align: center;
  margin-top: 10rem;
  background-color: #ff00002e;
  width: 100%;
}
.list-group-item.active {
  background-color: #9e9e9e;
}
.navig {
  position: fixed;
  background: #fff;
  width: 100%;
  display: block;
  z-index: 3;
  top: 0;
}
.menu {
  display: block;
  width: 100%;
  margin: 0 auto;
}
.navbar {
  padding-top: 0;
}
.navbar-nav {
  margin: 0 auto;
}
.header-text {
  display: block;
  text-align: center;
  font-family: 'Kumbh Sans', sans-serif;
  padding-top: 0.5rem;
}
.navbar {
  text-align: center;
  display: block;
}
.header-img-1 img {
  top: 5rem;
  width: 100%;
  display: block;
  margin: 0 auto;
}
.header-img-2 img {
  display: none;
}
.card {
  border: none;
  background-color: #d5d5d5;
}
.card-title {
  text-align: center;
  font-size: 3rem;
  padding: 2rem;
  font-family: serif;
}
.category img {
  width: 100%;
}
.category p {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
}
.discription-img {
  padding-right: 0;
  padding-left: 0;
}
.discription-img img {
  width: 100%;
}
.discription-text p {
  width: 70%;
}
.slider {
  width: 100%;
  margin: auto;
}
.slider_item {
  margin: 0 1rem;
  outline: none;
}
.section-ring {
  margin-top: 1rem;
  width: 100%;
}
.section-img {
  margin-bottom: 2rem;
}
.section-img h3 {
  text-align: center;
  padding: 1rem;
}
.section-img p {
  text-align: center;
}
.section-img h3,
.section-img-2 {
  background-color: #a6a6a6;
}
.top-img {
  margin-top: 2rem;
  width: 100%;
}
.top-img h3 {
  background-color: #bebebe;
  margin: 4rem 0 4rem 0;
}
.item img {
  margin: 1rem;
  width: 100%;
}
.section-img-2 {
  display: none;
}
.item-ring p {
  color: #fff;
}
.mandw {
  text-align: center;
}
.mandw p,
.mandw a {
  display: inline-block;
  margin: 0 1rem 1rem 1rem;
}
.title {
  color: #fff;
}
.ring-body {
  padding: 0;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.ring-body img {
  width: 100%;
}
.ring-body p {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}
.navbar-nav .dropdown-menu {
  border: none;
  border-radius: 0;
}
.p1,
.p2 {
  font-size: 1rem;
}
.earr-h {
  color: #000;
  text-align: center;
  background-color: #a6a6a6;
  padding: 1rem 0 1rem 0;
  margin-bottom: 0;
}
.head-earring {
  -webkit-box-shadow: 0 0 4rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 4rem rgba(0, 0, 0, 0.5);
}
.earring-row {
  margin-top: 7rem;
}
.slick-next .slick-arrow {
  background-color: #fff;
}
.phone::before,
.phone::after {
  content: "";
  display: block;
  background-color: #aaa;
  width: 100%;
  height: 2px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.phone {
  text-align: center;
  font-size: 1.5rem;
  padding: 2rem 0;
}
.dark {
  background-color: #1f1f1f;
}
.links {
  text-align: center;
  padding: 2rem 0;
}
.links div {
  display: inline-block;
  background-color: #484848;
  margin: 0 1rem;
}
.dark a {
  font-size: 2rem;
  display: inline-block;
  color: #fff;
  padding: 0.5rem 1rem 0.5rem 1rem;
}
.dark a span {
  font-size: 1rem;
}
.section-map {
  height: 70vh;
}
.map {
  margin-top: 8rem;
  margin-bottom: 5rem;
}
.info {
  text-align: center;
  margin-bottom: 4rem;
}
.content {
  margin-top: 6rem;
}
.card {
  margin: 1rem auto;
  text-align: center;
}
.card-title-2 {
  margin-top: 58%;
}
.card-img-overlay:hover {
  background-color: #d5d5d545;
  color: #fff;
}
.catalog-link {
  color: #fff;
  text-decoration: none;
}
.service-c {
  margin-bottom: 3rem;
}
.section-services {
  margin-top: 4rem;
}
h1 {
  text-align: center;
}
.service-p-1 {
  font-size: 1.5rem;
}
.service-p-2 {
  font-size: 1.5rem;
}
.service-img {
  text-align: center;
  padding: 0;
}
.service-img img {
  width: 70%;
}
.service-img-2 {
  text-align: center;
  padding: 0;
}
.service-img-2 img {
  width: 100%;
}
@media (max-width: 576px) {
  .section-img-2 {
    margin-bottom: 2rem;
    margin-top: 6rem;
    display: block;
  }
  .section-img-2 img {
    width: 100%;
  }
  .section-img-2 h3 {
    text-align: center;
    padding: 1rem;
  }
  .section-img-2 .top-img {
    margin: 0;
  }
  .section-img {
    display: none;
  }
  /*nav*/
  .menu {
    position: relative;
    top: -4rem;
  }
  .navig {
    max-height: 4rem;
  }
  .navbar-nav a {
    border-bottom: 1px #80808045 solid;
  }
  .header-text {
    position: relative;
    z-index: 5;
    width: 60%;
    margin: 0 auto;
  }
  .header-img-1 img {
    display: none;
  }
  .header-img-2 img {
    text-align: center;
    display: block;
    width: 100%;
  }
  .card-title {
    font-size: 2.6rem;
  }
  .navbar {
    background: #fff;
    width: 100%;
    z-index: 3;
  }
  .all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .list {
    position: absolute;
    top: 5rem;
    background-color: #fff;
  }
  .discription-text p {
    margin: 0 auto;
    display: block;
    text-align: center;
    padding-top: 2rem;
  }
  .content {
    margin: 5rem 0 5rem 0;
  }
  .content .card {
    margin-bottom: 1rem;
  }
  .content .col-md-6 {
    padding: 2px;
  }
  .content .col-md-6 h5 {
    font-size: 0.8rem;
  }
  .service-img img {
    width: 100%;
  }
  .service-img-2 img {
    width: 100%;
  }
  /*Contacts.html*/
  .map {
    margin: 2rem 0;
  }
  .mandw {
    margin-top: -4.5rem;
  }
}
@media (max-width: 768px) {
  .header-img-1 img {
    width: 100%;
  }
  .header-img-2 {
    margin-top: -1rem;
  }
  .section-head {
    margin-bottom: 2rem;
  }
  .navbar {
    padding: 1rem 1rem;
    text-align: start;
  }
  .navbar-toggler {
    margin-top: 0.6rem;
  }
  .map {
    margin: 1rem 0;
  }
  .list-group-item {
    padding: 0.4rem 0.25rem;
  }
}
